@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Anton&family=Bungee+Hairline&family=Comfortaa:wght@300&family=Inconsolata:wght@300&family=Josefin+Sans:ital,wght@1,100&family=Klee+One&family=Lato:wght@300&family=Orbitron&family=Oswald:wght@200&family=Roboto:wght@100&family=Vollkorn&display=swap');

* {
    margin: 0;
    padding: 0;
}

.nuggets {
    position: relative;
    width: 100%;
    min-height: 100%;
    filter: blur(0px);
}

.page {
    width: 480px;
    height: 120px;
    position: absolute;
    top: 250px;
    left: 50px;
    font-size: 30px;
    user-select: none;
    -webkit-user-select: none;
    transition: 1s;
}

.page:hover {
    transform: translateX(30px);
}

h4 {
    font-family: oswald;
    color: #E49B0F;
    transition: 0.5s;
}
.page:hover h4 {
    color: rgb(0, 0, 0);
}

h1 {
    font-family: roboto;
    transition: 0.5s;
}
.page:hover h1 {
    color: #f1a81f;
}


span {
    color: #FFA500;
    transition: 0.5s;
}
.page:hover span {
    color: #111;
}

.boxes {
    width: 250px;
    height: 250px;
    position: absolute;
    right: 150px;
    top: 200px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 30px;
    font-family: Amatic SC;
    font-weight: bolder;
}

.box1 {
    width: 100px;
    height: 100px;
    background-color: #E49B0F;
    border-radius: 20px;
    text-align: center;
    line-height: 90px;
    margin: 5px;
    box-shadow: 5px 5px 5px #111;
    text-decoration: none;
    transition: 0.5s;
}
.box1:hover {
    background-color: rgba(255, 255, 255);
    color: black;
    margin: 15px;
    font-weight: bolder;
}
.boxes a {
    text-decoration: none;
    color: white;
}

.box2 {
    width: 100px;
    height: 100px;
    background-color: #F28C28;
    border-radius: 20px;
    text-align: center;
    line-height: 90px;
    margin: 5px;
    box-shadow: 5px 5px 5px #111;
    transition: 0.5s;
}
.box2:hover {
    background-color: rgba(255, 255, 255);
    color: black;
    margin: 15px;
    font-weight: bolder;
}
.boxes a {
    text-decoration: none;
    color: white;
}

.box3 {
    width: 100px;
    height: 100px;
    background-color: #CC5500;
    border-radius: 20px;
    text-align: center;
    line-height: 90px;
    margin: 5px;
    box-shadow: 5px 5px 5px #111;
    transition: 0.5s;
}
.box3:hover {
    background-color: rgba(255, 255, 255);
    color: black;
    margin: 15px;
    font-weight: bolder;
}
.box3 a {
    text-decoration: none;
    color: white;
}

.box4 {
    width: 100px;
    height: 100px;
    background-color: #FFAC1C;
    border-radius: 20px;
    text-align: center;
    line-height: 90px;
    margin: 5px;
    box-shadow: 5px 5px 5px #111;
    transition: 0.5s;
}
.box4:hover {
    background-color: rgba(255, 255, 255);
    color: black;
    margin: 15px;
    font-weight: bolder;
}
.box4 a {
    text-decoration: none;
    color: white;
}

footer {
    position: relative;
    bottom: 40px;
    text-align: center;
    font-family: oswald;
    font-size: 20px;
}